NODE_ENV="development"
PORT="3000"

JWT_ALGORITHM="RS256"
JWT_PRIVATE_KEY=""
JWT_PUBLIC_KEY=""
JWT_ACCESS_TOKEN_EXPIRATION="15m"
JWT_REFRESH_TOKEN_EXPIRATION="7d"

POSTGRES_USER="innocenz"
POSTGRES_PASSWORD="innocenz"
POSTGRES_HOST="localhost"
POSTGRES_PORT="5432"
POSTGRES_DB="innocenz"
DATABASE_URL="postgresql://innocenz:innocenz@localhost:5432/innocenz"

DEFAULT_ADMIN_EMAIL="jy.ng@unitedalliedbusiness.com"
DEFAULT_ADMIN_PASSWORD="Ng8522."
DEFAULT_ADMIN_NAME="JY Ng"
